@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Light mode */
:root {
  --background-color: #bababa;
  --text-color: black;
  --sidebar-color: #bababa;
  --main-content-color: #ffffff;
  --content-area-color: #bababa;
  --tab-color: #ffffff;
  --graph-container-color: #bababa;
  --content-footer-color: #eeeeee;
  --icon-circle-color: grey;
  --selected-color: #ffffff;
  --selected-tab-color: #bababa;
}

/* Dark mode */
.dark-mode {
  --background-color: #131312;
  --text-color: white;
  --sidebar-color: #131312;
  --main-content-color: #474747;
  --content-area-color: #131312;
  --tab-color: #474747;
  --graph-container-color: #131312;
  --content-footer-color: #272725;
  --icon-circle-color: grey;
  --selected-color: #555;
  --selected-tab-color: #131312;
}

/* Apply dark mode by default */
body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
  height: auto;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

hr {
  width: 100%;
  margin: 0%;
}

.dashboard {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebar-color);
  padding: 1.5%;
  box-sizing: border-box;
  font-weight: 200;
}

#switch {
  border: var(--text-color) solid 1pt;
}

.nav-section,
.nav-footer {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-item.selected {
  background-color: var(--selected-color);
}

.tab.selected {
  background-color: var(--selected-tab-color);
}

.icon-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--icon-circle-color);
  border-radius: 50%;
  margin-right: 10px;
}

.text {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.title {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  animation: fade 3s infinite;
}

.email {
  font-size: 14px;
  color: #aaa;
}

.main-content {
  flex-grow: 1;
  padding: 2%;
  border-radius: 40px 0px 0px 40px;
  background-color: var(--main-content-color);
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.content-header h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-left: 1.5%;
}

.tab-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
  text-align: center;
  background-color: var(--tab-color);
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  padding-left: 1%;
  padding-right: 1%;
  width: fit-content;
  border-radius: 500px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.graph-container {
  background-color: var(--graph-container-color);
  border-radius: 30px;
  height: 705px;
}

.tab {
  padding: 10px 20px;
  background: var(--tab-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  text-align: center;
  justify-content: center;
}

.content-area {
  background-color: none;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  background-color: var(--content-area-color);
  padding: 2%;
}

.graph-placeholder {
  width: 100%;
  height: 405px;
  background-color: var(--content-area-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 50;
  padding: 2.5%;
  background-color: var(--content-footer-color);
  border-radius: 30px;
}

.AIText {
  font-weight: 300;
}

#theme-toggle {
  padding: 2%;
  border-radius: 500px;
  border: none;
}

.sidebar-item .icon-circle {
  flex-shrink: 0;
  margin-right: 10px;
}

.sidebar-item .text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sidebar-item input {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#providerName {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  outline: none;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
}

#providerName::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.ouraGraph1 {
  width: 100%;
  height: 608px;
  border: none;
  border-radius: 30px;
  background-color: none;
}

.ouraGraph2 {
  width: 100%;
  height: 605px;
  border: none;
  border-radius: 30px;
  background-color: none;
}

#providerNotes {
  color: black;
}

/* PATIENT OVERVIEW SECTION */

.patient-overview {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .patient-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--content-area-color);
    padding: 20px;
    border-radius: 10px;
  }
  
  .info-group {
    flex-basis: calc(33.33% - 20px);
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-item label {
    flex-basis: 120px;
    margin-right: 10px;
  }
  
  .info-item input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    color: var(--text-color);
  }
  
  .patient-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .details-left {
    flex-basis: calc(40% - 20px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .details-left h3 {
    margin-bottom: 10px;
  }
  
  .details-left textarea {
    width: 100%;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    color: var(--text-color);
    resize: none;
  }
  
  .details-right {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .detail-item h3 {
    flex-basis: 150px;
    margin-right: 10px;
  }
  
  .detail-item textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    color: var(--text-color);
    resize: vertical;
  }
  
  .save-button-container {
    margin-top: 20px;
    padding-right: 20px;
    align-self: flex-end;
  }
  
  .save-button-wrapper {
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  #saveButton {
    padding: 10px 20px;
    background-color: var(--selected-tab-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-optical-sizing: auto;
    transition: background-color 0.3s;
  }
  
  #saveButton:hover {
    background-color: var(--selected-color);
  }
  
  .info-item input,
  .details-left textarea,
  .detail-item textarea {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-optical-sizing: auto;
  }
  
  .info-item input::placeholder,
  .details-left textarea::placeholder,
  .detail-item textarea::placeholder {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-optical-sizing: auto;
    color: var(--text-color);
    opacity: 0.7;
  }

@media screen and (min-width: 768px) {
  .info-group {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 0;
  }

  .details-left {
    flex-basis: calc(40% - 20px);
    margin-bottom: 0;
  }

  .details-right {
    flex-basis: calc(50% - 20px);
  }

  .detail-item {
    flex-wrap: nowrap;
  }

  .detail-item h3 {
    flex-basis: 150px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .detail-item textarea {
    flex-basis: calc(100% - 160px);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

/* PATIENT OVERVIEW SECTION */

.patient-overview {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .patient-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--content-area-color);
    padding: 20px;
    border-radius: 10px;
  }
  
  .info-group {
    flex-basis: calc(33.33% - 20px);
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-item label {
    flex-basis: 120px;
    margin-right: 10px;
  }
  
  .info-item input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    color: var(--text-color);
  }
  
  .patient-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .details-left {
    flex-basis: calc(40% - 20px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .details-left h3 {
    margin-bottom: 10px;
  }
  
  .details-left textarea {
    width: 100%;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    color: var(--text-color);
    resize: none;
  }
  
  .details-right {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .detail-item h3 {
    flex-basis: 150px;
    margin-right: 10px;
  }
  
  .detail-item textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    color: var(--text-color);
    resize: vertical;
  }
  
  .save-button-container {
    margin-top: 20px;
    padding-right: 20px;
    align-self: flex-end;
  }
  
  .save-button-wrapper {
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  #saveButton {
    padding: 10px 20px;
    background-color: var(--selected-tab-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-optical-sizing: auto;
    transition: background-color 0.3s;
  }
  
  #saveButton:hover {
    background-color: var(--selected-color);
  }
