/* Light mode */
:root {
    --background-color: #D9D9D9;
    --text-color: black;
    --sidebar-color: #D9D9D9;
    --main-content-color: #FFFFFF;
    --content-area-color: #D9D9D9;
    --tab-color: #FFFFFF;
    --graph-container-color: #D9D9D9;
    --content-footer-color: #EEEEEE;
    --icon-circle-color: black;
    --selected-color: #FFFFFF; 
    --selected-tab-color: #D9D9D9;
}

/* Dark mode */
.dark-mode {
    --background-color: #131312;
    --text-color: white;
    --sidebar-color: #131312;
    --main-content-color: #474747;
    --content-area-color: #131312;
    --tab-color: #474747;
    --graph-container-color: #131312;
    --content-footer-color: #272725;
    --icon-circle-color: grey;
    --selected-color: #555; 
    --selected-tab-color: #131312;
}

/* Apply dark mode by default */
body, html {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-weight: 500;
}

hr {
    width: 100%;
    margin: 0%;
}

.dashboard {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sidebar-color);
    padding: 1.5%;
    box-sizing: border-box;
    font-weight: 200;
}

#switch {
    border: var(--text-color) solid 1pt;
}

.nav-section, .nav-footer {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-item.selected {
    background-color: var(--selected-color);
}

.tab.selected { 
    background-color: var(--selected-tab-color);
}

.icon-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--icon-circle-color);
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 18px;
}

.title {
    font-size: 22px;
}

.email {
    font-size: 14px;
    color: #aaa;
}

.main-content {
    flex-grow: 1;
    padding: 2%;
    border-radius: 40px 0px 0px 40px;
    background-color: var(--main-content-color);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.content-header h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 1.5%;
}

.tab-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: var(--tab-color);
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    width: fit-content;
    border-radius: 500px;
}

.graph-container {
    background-color: var(--graph-container-color);
    border-radius: 30px;
    height: 700px;
}

.tab {
    padding: 10px 20px;
    background: var(--tab-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    text-align: center;
    justify-content: center;
}

.content-area {
    background-color: none;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    background-color: var(--content-area-color);
    padding: 2%;
}

.graph-placeholder {
    width: 100%;
    height: 405px;
    background-color: var(--content-area-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-footer {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 50;
    padding: 2.5%;
    background-color: var(--content-footer-color);
    border-radius: 30px;
}

.AIText {
    font-weight: 300;
}

#theme-toggle {
    padding: 2%;
    border-radius: 500px;
    border: none;
}

.sidebar-item .icon-circle {
    flex-shrink: 0;
    margin-right: 10px;
}

.sidebar-item .text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sidebar-item input {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#providerName {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    outline: none;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
}

#providerName::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

.ouraGraph1 {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 30px;
    background-color: none;
}

.ouraGraph2 {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 30px;
    background-color: none;
}