body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #131312;
    color: white;
}

h1 {
    font-weight: 200;
}

hr {
    width: 100%;
    margin: 0%;
}

.dashboard {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131312;
    padding: 1.5%;
    box-sizing: border-box;
    font-weight: 200;
}

.nav-section, .nav-footer {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-item.selected {
    background-color: #555;
}

.tab.selected {
    background-color: #131312;
}

.icon-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 18px;
}

.email {
    font-size: 14px;
    color: #aaa;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    border-radius: 40px 0px 0px 40px;
    background-color: #474747;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.content-header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 1.5%;
}

.tab-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: #474747;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    width: fit-content;
    border-radius: 500px;
}

.tab {
    padding: 10px 20px;
    background: #474747;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    text-align: center;
    justify-content: center;
}

.content-area {
    background-color: #131312;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    background-color: #131312;
    border-radius: 30px;
    padding: 2%;
}

.graph-placeholder {
    width: 100%;
    height: 405px;
    background-color: #131312;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-footer {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 50;
    padding: 2.5%;
    background-color: #272725;
    border-radius: 30px;
}

.AIText {
    font-weight: 300;
}
