body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  background-color: none;
}

#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Added position relative */
}

#sketch {
  /* Removed the yellow flag */
}

#sleepGraph {
  font-family: "DM+Sans";
  color: white;
}

.input-group {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: "DM+Sans";
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toggle-btn {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Added to remove outline on click */
}

.toggle-btn.active {
  background-color: #333;
  color: #fff;
}

#myFile {
  color: white;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 4px 8px;
  transition: 0.3s;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 4px 8px;
  transition: 0.3s;
}

button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
}

input[type="file"]::file-selector-button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
}
