body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative; /* Added position relative */
}

#sketch {
  /* Removed the yellow flag */
}

.input-group {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toggle-btn {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Added to remove outline on click */
}

.toggle-btn.active {
  background-color: #333;
  color: #fff;
}